EXE APP Analyse/Atualizacao_Automatica/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.psidialogica.com.br/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.psidialogica.com.br/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.psidialogica.com.br/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1.Controler" />
      <xsd:import schemaLocation="http://www.psidialogica.com.br/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Atualizacao_InputMessage">
    <wsdl:part name="parameters" element="tns:Atualizacao" />
  </wsdl:message>
  <wsdl:message name="IService1_Atualizacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizacaoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Registrar_Maq_Setor_InputMessage">
    <wsdl:part name="parameters" element="tns:Registrar_Maq_Setor" />
  </wsdl:message>
  <wsdl:message name="IService1_Registrar_Maq_Setor_OutputMessage">
    <wsdl:part name="parameters" element="tns:Registrar_Maq_SetorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Registrar_Pessoais_InputMessage">
    <wsdl:part name="parameters" element="tns:Registrar_Pessoais" />
  </wsdl:message>
  <wsdl:message name="IService1_Registrar_Pessoais_OutputMessage">
    <wsdl:part name="parameters" element="tns:Registrar_PessoaisResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Registrar_Maquina_InputMessage">
    <wsdl:part name="parameters" element="tns:Registrar_Maquina" />
  </wsdl:message>
  <wsdl:message name="IService1_Registrar_Maquina_OutputMessage">
    <wsdl:part name="parameters" element="tns:Registrar_MaquinaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Registrar_Atualizados_InputMessage">
    <wsdl:part name="parameters" element="tns:Registrar_Atualizados" />
  </wsdl:message>
  <wsdl:message name="IService1_Registrar_Atualizados_OutputMessage">
    <wsdl:part name="parameters" element="tns:Registrar_AtualizadosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_Maquina_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_Maquina" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_Maquina_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_MaquinaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Auto_Hardware_InputMessage">
    <wsdl:part name="parameters" element="tns:Auto_Hardware" />
  </wsdl:message>
  <wsdl:message name="IService1_Auto_Hardware_OutputMessage">
    <wsdl:part name="parameters" element="tns:Auto_HardwareResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Auto_Software_InputMessage">
    <wsdl:part name="parameters" element="tns:Auto_Software" />
  </wsdl:message>
  <wsdl:message name="IService1_Auto_Software_OutputMessage">
    <wsdl:part name="parameters" element="tns:Auto_SoftwareResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Auto_Soft_diags_InputMessage">
    <wsdl:part name="parameters" element="tns:Auto_Soft_diags" />
  </wsdl:message>
  <wsdl:message name="IService1_Auto_Soft_diags_OutputMessage">
    <wsdl:part name="parameters" element="tns:Auto_Soft_diagsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Consult__InputMessage">
    <wsdl:part name="parameters" element="tns:Consult_" />
  </wsdl:message>
  <wsdl:message name="IService1_Consult__OutputMessage">
    <wsdl:part name="parameters" element="tns:Consult_Response" />
  </wsdl:message>
  <wsdl:message name="IService1_Consulting_AT_InputMessage">
    <wsdl:part name="parameters" element="tns:Consulting_AT" />
  </wsdl:message>
  <wsdl:message name="IService1_Consulting_AT_OutputMessage">
    <wsdl:part name="parameters" element="tns:Consulting_ATResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Consulting_Tomb_InputMessage">
    <wsdl:part name="parameters" element="tns:Consulting_Tomb" />
  </wsdl:message>
  <wsdl:message name="IService1_Consulting_Tomb_OutputMessage">
    <wsdl:part name="parameters" element="tns:Consulting_TombResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Consultin_Program_AT_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultin_Program_AT" />
  </wsdl:message>
  <wsdl:message name="IService1_Consultin_Program_AT_OutputMessage">
    <wsdl:part name="parameters" element="tns:Consultin_Program_ATResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Atualizacao">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Atualizacao" message="tns:IService1_Atualizacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AtualizacaoResponse" message="tns:IService1_Atualizacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registrar_Maq_Setor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Registrar_Maq_Setor" message="tns:IService1_Registrar_Maq_Setor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Registrar_Maq_SetorResponse" message="tns:IService1_Registrar_Maq_Setor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registrar_Pessoais">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Registrar_Pessoais" message="tns:IService1_Registrar_Pessoais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Registrar_PessoaisResponse" message="tns:IService1_Registrar_Pessoais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registrar_Maquina">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Registrar_Maquina" message="tns:IService1_Registrar_Maquina_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Registrar_MaquinaResponse" message="tns:IService1_Registrar_Maquina_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registrar_Atualizados">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Registrar_Atualizados" message="tns:IService1_Registrar_Atualizados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Registrar_AtualizadosResponse" message="tns:IService1_Registrar_Atualizados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_Maquina">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Update_Maquina" message="tns:IService1_Update_Maquina_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Update_MaquinaResponse" message="tns:IService1_Update_Maquina_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Auto_Hardware">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Auto_Hardware" message="tns:IService1_Auto_Hardware_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Auto_HardwareResponse" message="tns:IService1_Auto_Hardware_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Auto_Software">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Auto_Software" message="tns:IService1_Auto_Software_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Auto_SoftwareResponse" message="tns:IService1_Auto_Software_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Auto_Soft_diags">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Auto_Soft_diags" message="tns:IService1_Auto_Soft_diags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Auto_Soft_diagsResponse" message="tns:IService1_Auto_Soft_diags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consult_">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Consult_" message="tns:IService1_Consult__InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Consult_Response" message="tns:IService1_Consult__OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consulting_AT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Consulting_AT" message="tns:IService1_Consulting_AT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Consulting_ATResponse" message="tns:IService1_Consulting_AT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consulting_Tomb">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Consulting_Tomb" message="tns:IService1_Consulting_Tomb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Consulting_TombResponse" message="tns:IService1_Consulting_Tomb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consultin_Program_AT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Consultin_Program_AT" message="tns:IService1_Consultin_Program_AT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Consultin_Program_ATResponse" message="tns:IService1_Consultin_Program_AT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Atualizacao">
      <soap:operation soapAction="http://tempuri.org/IService1/Atualizacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrar_Maq_Setor">
      <soap:operation soapAction="http://tempuri.org/IService1/Registrar_Maq_Setor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrar_Pessoais">
      <soap:operation soapAction="http://tempuri.org/IService1/Registrar_Pessoais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrar_Maquina">
      <soap:operation soapAction="http://tempuri.org/IService1/Registrar_Maquina" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrar_Atualizados">
      <soap:operation soapAction="http://tempuri.org/IService1/Registrar_Atualizados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Maquina">
      <soap:operation soapAction="http://tempuri.org/IService1/Update_Maquina" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Auto_Hardware">
      <soap:operation soapAction="http://tempuri.org/IService1/Auto_Hardware" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Auto_Software">
      <soap:operation soapAction="http://tempuri.org/IService1/Auto_Software" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Auto_Soft_diags">
      <soap:operation soapAction="http://tempuri.org/IService1/Auto_Soft_diags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consult_">
      <soap:operation soapAction="http://tempuri.org/IService1/Consult_" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consulting_AT">
      <soap:operation soapAction="http://tempuri.org/IService1/Consulting_AT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consulting_Tomb">
      <soap:operation soapAction="http://tempuri.org/IService1/Consulting_Tomb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultin_Program_AT">
      <soap:operation soapAction="http://tempuri.org/IService1/Consultin_Program_AT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://www.psidialogica.com.br/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>