EXE APP Analyse/Pc Analicts/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.psidialogica.com.br/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1.Controler" />
  <xs:import schemaLocation="http://www.psidialogica.com.br/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Consulting_AT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serial_return" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consulting_ATResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Consulting_ATResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consulting_Tomb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serial_return" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consulting_TombResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Consulting_TombResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Atualizacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serial_return" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AtualizacaoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_Maq_Setor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tomb" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lugar" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_Maq_SetorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Registrar_Maq_SetorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_Pessoais">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1.Controler" minOccurs="0" name="Dados_Controle" nillable="true" type="q1:Body_Cadastrar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_PessoaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Registrar_PessoaisResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_Maquina">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1.Controler" minOccurs="0" name="Reg_Maq" nillable="true" type="q2:Body_Cadastrar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_MaquinaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Registrar_MaquinaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Auto_Hardware">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService1.Controler" minOccurs="0" name="Auto_har" nillable="true" type="q3:Body_Cadastrar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Auto_HardwareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Auto_HardwareResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Auto_Software">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService1.Controler" minOccurs="0" name="Auto_soft" nillable="true" type="q4:Body_Cadastrar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Auto_SoftwareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Auto_SoftwareResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Auto_Soft_diags">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService1.Controler" minOccurs="0" name="Auto_Diags" nillable="true" type="q5:Body_Cadastrar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Auto_Soft_diagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Auto_Soft_diagsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consult_">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Consult_Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Consult_Result" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>